html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.canvas-surface {
  height: 100%;
}

.canvas-page {
  height: 100%;
}

.pf-topology-container {
  height: 100%;
}

.pf-v6-c-page {
  height: 100%;
}
